<div class="container">
  <h1><%= @flat.name %></h1>
  <h6><%= @flat.address %></h6>
  <p><i class="fas fa-users"></i> <%= @flat.number_of_guests %> - <i class="fas fa-dollar-sign"></i> <%= @flat.price_per_night %></p>
  <hr>
  <p><%= @flat.description %></p>
</div>
